.container-fluid {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .sidebar {
    width: auto;
    max-width: 300px;
    min-width: 100px;
    padding: 0;
    background-color: #343a40;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    padding: 15px;
    padding-top: 10px;
    color: white;
    min-height: 100vh;
  }
  
  .brand-link {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    text-decoration: none;
    color: white;
  }
  
  .brand-text {
    font-size: 1.25rem;
    font-weight: bold;
    display: none;
    @media (min-width: 576px) {
      display: inline;
    }
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    align-items: flex-start;
  }
  
  .menu li {
    width: 100%;
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  .menu-link i {
    font-size: 1.25rem;
    margin-left: 5px;
  }
  
  .link-text {
    margin-left: 5px;
    display: none;
    @media (min-width: 576px) {
      display: inline;
    }
  }
  
  .main-content {
    flex: 1;
    padding: 0;
    margin: 0;
  }
  
  .header {
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  #outlet {
    padding: 20px;
  }
  